@model FiwFriends.Models.Usersystem;
@{
    ViewData["Title"] = "Edit profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body 
        {
            background-color: #f6f2d2
        }

        .big-rectangle 
        {
            background-color: white;
            border-radius: 1vw;
            box-shadow: 0 0.4% 0.4% rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: auto;
            padding: 5% 10% 10% 5%;
            row-gap: 1.4%;
            width: 90%;
        }
        .image_box{
            width:40%;
            border-radius 1vw;
        }
        .rectangle-input 
        {
            background-color: #f6f2d2;
            border-radius: 1vw;
            height: 40%;
            margin-bottom: 1%;
            width: 40%;
        }

        .rectangle-input-descripton 
        {
            background-color: #f6f2d2;
            border-radius: 1vw;
            height: 100%;
            margin-bottom: 1%;
            padding-top: 10%;
            width: 40%;
            top: 2%;
        }

        .submit-button {
            align-items: center;
            background-color: #fd5c37;
            border-radius: 1vw;
            color: #ffffff;
            font-family: Istok Web, 'Source Sans Pro';
            font-size: 100%;
            font-weight: 700;
            justify-content: center;
            width: 15.5%;
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <div class="big-rectangle">
        <h1 style="font-family: Istok Web, 'Source Sans Pro'">Profile.</h1>
        <div style="display:flex;justify-content:space-between">
            <form method="post" enctype="multipart/form-data" asp-controller="Editpage" asp-action="EditProfile" class="big-rectangle" style="width:60%;">
                <div>
                    <label asp-for="Picture"></label>
                    <input type="file" asp-for="Picture" />
                </div>
                <div>
                    <label asp-for="Username"></label>
                    <br />
                    <input type="text" asp-for="Username" class="rectangle-input"/>
                </div>
                <div>
                    <label asp-for="Location"></label>
                    <br />
                    <input type="text" asp-for="Location" class="rectangle-input"/>
                </div>
                <div>
                    <label asp-for="Interest"></label>
                    <br />
                    <input type="text" asp-for="Interest" class="rectangle-input"/>
                </div>
                <div>
                    <label asp-for="AboutMe">About me</label>
                    <br />
                    <input type="text" asp-for="AboutMe" class="rectangle-input-descripton"/>
                </div>
                <button type="submit" class="submit-button">submit</button>
            </form>
        </div>
     </div>
</body>

