@inject IHttpContextAccessor HttpContextAccessor;
@{
    string Cookieusername = HttpContextAccessor?.HttpContext?.Request.Cookies["UserId"];
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    <title>@ViewData["Title"]</title>
    <style>
            /* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
    for details on configuring this project to bundle and minify static web assets. */
    * {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    body {
        margin: 0%;
    }

    .container {
        padding-top: 10vh;
    }

    button {
        border: none;
        background-color: white;
    }

        button:hover {
            background-color: rgb(225, 230, 233);
        }

    .navigation {
        display: flex;
        background-color: white;
        width: 100%;
        position: fixed;
        border: 1px solid black
    }

    .item1 {
        padding-top: 0.5%;
        width: 30%;
        justify-content: center;
    }

        .item1 a {
            font-weight: bold;
            font-size: 4vh;
            color: #FD5C37;
            text-shadow: 1px 6px 4px grey;
            padding-left: 5%;
        }

    .item2 {
        width: 40%;
        display: flex;
    }

    .signup {
        height: 100%;
        padding: 0%;
        font-weight: bold;
    }

    .item3 {
        padding: 0%;
        display: flex;
        width: 30%;
    }

    .navitem {
        width: 100%;
        padding: 3%;
        text-align: center;
        font-size: 80%;
    }

        .navitem img {
            object-fit: fill;
            width: 2vh;
        }

    form {
        margin-top: 0.5vh;
    }

    #search {
        padding: 1vh;
        padding-left: 4%;
        margin-left: 10%;
        margin-top: 1%;
        border-radius: 20px;
        height: fit-content;
        font-size: 100%;
    }

    @@media screen and (max-width: 600px) {
        form {
            margin-top: 1vh;
        }

        .item1 {
            padding-top: 2%;
            width: 30%;
            justify-content: center;
        }
    }



    a {
        color: #0077cc;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }

    </style>
</head>
<body>
    <header>
        <nav class="navigation">
            <div class="item1"><a href="" style="text-decoration: none;">Home</a></div>
            <div class="item3">
                <form style="width: 100%;display:flex;" method="get" asp-controller="Event" asp-action="Search">
                    <input style="width: 60%; margin-right:1%;" type="text" id="word" name="word" placeholder="Country,City" class="search">
                    <button style="width: 20%;"><img width="50%" src="https://i.ibb.co/DMpFfcV/search.png" alt="search" border="0"></button>
                </form>
            </div>
            <div class="item2">
                <button class="navitem">
                    <img src="https://i.ibb.co/YZ3R5hX/plus.png" alt="plus" border="0">
                </button>
                <button class="navitem"><a style="text-decoration: none;font-weight: bold;">Login</a></button>
                <button class="navitem signup">Sign Up</button>

                @if (string.IsNullOrEmpty(Cookieusername))
                {
                    <a class="navitem" asp-controller="Home" asp-action="Login">
                        <img src="https://i.ibb.co/KqG7Dxj/settings.png" alt="settings" border="0">
                    </a>
                    
                }
                else
                {
                    <a class="navitem" asp-controller="Edit" asp-action="Index">
                        <img src="https://i.ibb.co/KqG7Dxj/settings.png" alt="settings" border="0">
                    </a>
                }
            </div>
            </button>
                        </div>
                    </nav>
                </header>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2024 - Event - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
            </body>
</html>