/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0%;
}

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.container {
    padding-top: 10vh;
}

button {
    border: none;
    background-color: white;
    border-radius: 10px;
}

    button:hover {
        background-color: rgb(225, 230, 233);
    }

.navigation {
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
}

.item1 {
    padding-top: 0.5%;
    width: 30%;
    justify-content: center;
}

    .item1 a {
        font-weight: bold;
        font-size: 4vh;
        color: #FD5C37;
        text-shadow: 1px 1px 4px grey;
        padding-left: 5%;
    }

.item2 {
    margin-top: 1vh;
    width: 30%;
    display: flex;
}

.signup {
    padding: 0%;
    font-weight: bold;
    background-color: #338ebb;
    color: white;
    text-decoration:none;

}

.logout {
    padding: 0%;
    font-weight: bold;
    background-color: red;
    color: red;
    text-decoration: none;
}

.logout button:hover {
    color: black;
}

.item3 {
    padding: 0%;
    display: flex;
    width: 40%;
}

.setting {
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 80%;
    margin-left: 2%;
    margin-right: 2%;
}

.navitem {
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 80%;
    margin-left: 2%;
    margin-right: 2%;
}

    .navitem img {
        object-fit: fill;
        width: 2vh;
    }

form {
    margin-top: 0.5vh;
}

    form a {
        font-weight: bold;
        font-size: 4vh;
        color: #FD5C37;
        text-shadow: 1px 1px 4px grey;
        padding-left: 5%;
    }

#search {
    padding: 1vh;
    padding-left: 4%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 20px;
    height: fit-content;
    font-size: 100%;
}

@media screen and (max-width: 600px) {
    form {
        margin-top: 1vh;
    }

    .item1 {
        padding-top: 2%;
        width: 30%;
        justify-content: center;
    }
}



a {
    color: #0077cc;
}

.foot {
    margin-top:2vh;
    position: absolute;
    width: 90%;
    padding: 1.5%;
    padding-left: 5%;
    white-space: nowrap;
    border-top: 1px solid #dadada
}
