/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0%;
}

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    padding-top: 10vh;
}

button {
    border: none;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}

    button:hover {
        background-color: rgb(225, 230, 233);
    }

.navigation {
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
}

.item1 {
    padding-top: 0.5%;
    width: 30%;
    justify-content: center;
}

    .item1 a {
        font-family: Protest Riot, sans-serif;
        font-weight: bold;
        font-size: 4vh;
        color: #EF733E;
        padding-left: 5%;
        text-decoration: none;
    }

.item2 {
    width: 40%;
    margin-top: 1vh;
    margin-left:5%;
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.item4 {
    width: 100%;
    display: flex;
}

.item5 {
    width: 50%;
    display: flex;
}

.signup {
    height: 100%;
    padding: 0%;
    font-weight: bold;
    padding: 0%;
    font-weight: bold;
    background-color: #338ebb;
    color: white;
    text-decoration: none;
}

    .signup:hover {
        background-color: #67b8db;
    }


.logout {
    padding: 5%;
    font-weight: bold;
    background-color: red;
    text-decoration: none;
}

    .logout:hover {
        background-color: #fa6464;
    }

.item3 {
    padding: 0%;
    display: flex;
    width: 30%;
    width: 40%;
}

.setting {
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 80%;
    margin-left: 2%;
}

.profile {
    width: 100%;
    height: 80%;
    text-align: center;
    margin-left: 2%;
}

.navitem {
    width: 100%;
    height: 80%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
}

    .navitem img {
        object-fit: fill;
        width: 2vw;
    }

form {
    margin-top: 0.5vh;
}

    form a {
        font-weight: bold;
        font-size: 4vh;
        color: #FD5C37;
        text-shadow: 1px 1px 4px grey;
        padding-left: 5%;
    }

#search {
    padding: 1vh;
    padding-left: 4%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 20px;
    height: fit-content;
    font-size: 100%;
}

@media screen and (max-width: 600px) {
    form {
        margin-top: 1vh;
    }

    .item1 {
        padding-top: 2%;
        width: 30%;
        justify-content: center;
    }
}



a {
    color: #0077cc;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #C2C8D2;
    padding: 1.5rem 15%;
}

.footer-item {
    margin: 10px 5px;
}

.name-list {
    position: relative;
    left: 2rem;
}

.github {
    display: inline-block;
    font-size: 36px;
    transition: all 0.3s ease;
    text-align: center;
    color: #000;
}

    .github:hover {
        transform: scale(1.2);
    }
