@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="welcome">
    <h1>Welcome, Username 👋</h1>
    <h2>Events from your groups</h2>
</div>

<div class="menu"></div>
<div class="event-list">
    <div class="event-wrapper">
        <img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30" />
        <div class="details">
            <div class="description">
                <p class="date">Date here</p>
                <p class="title">Title</p>
                <p class="location">location here</p>
            </div>
            <div class="status">
                <p>attendees</p>
                <p>open until</p>
            </div>
        </div>
    </div>
    <hr />
</div>
