@model FiwFriends.Models.Usersystem;
@{
    ViewData["Title"] = "Edit profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: white;
        }

        .big-rectangle {
            background-color: linen;
            border-radius: 1vw;
            box-shadow: 0 0.4% 0.4% rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            margin-right: 1vw;
            padding: 0% 10% 10% 5%;
            row-gap: 1.4%;
            width: 90%;
        }

        .rectangle-input {
            background-color: whitesmoke;
            border-radius: 1vw;
            height: 100%;
            margin-bottom: 1%;
            width: 40%;
            padding: 0.5rem 0;
            padding-left: 0.5rem;
        }

        .rectangle-input-descripton {
            background-color: whitesmoke;
            border-radius: 1vw;
            height: 100%;
            margin-bottom: 1%;
            width: 40%;
            top: 2%;
        }

        .new-event-aKh {
            font-family: https://fonts.google.com/specimen/Josefin+Sans;
            font-size: 2vw;
            font-weight: 700;
            height: 5.4%;
            white-space: nowrap;
            padding-top: 1.5%;
        }

        .rectangle-input-flex {
            background-color: whitesmoke;
            border-radius: 1vw;
            height: 40%;
            margin-bottom: 1%;
            width: 80%;
            padding: 0.5rem 0.5rem;
        }

        .auto-group-btfq-A7R {
            display: flex;
            height: 100%;
        }

        .auto-group-aaz3-4yV {
            width: 100%;
            flex: 1;
        }

        .picture-upload {
            background: #f28f64;
            border-radius: 10px;
            box-sizing: border-box;
            margin-top: 2%;
            overflow: hidden;
            max-height: 258px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .picture-container {
            width: auto; /* Adjust the width as needed */
            height: 300px; /* Set the desired height */
            overflow: hidden; /* Ensure the image does not overflow */
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .submit-button {
            align-items: center;
            background-color: #fd5c37;
            border-radius: 1vw;
            color: #ffffff;
            font-family: https://fonts.google.com/specimen/Josefin+Sans;
            font-size: 100%;
            font-weight: 700;
            justify-content: center;
            width: 15.5%;
            margin-top: 2%;
        }

        .option-value {
            text-align: center;
        }

        .custum-file-upload {
            height: 200px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: space-between;
            gap: 20px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border: 5px dashed #e8e8e8;
            padding: 1.5rem;
            border-radius: 10px;
            box-shadow: 0px 48px 35px -48px #e8e8e8;
        }

            .custum-file-upload .icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .custum-file-upload .icon svg {
                    height: 80px;
                    fill: #e8e8e8;
                }

            .custum-file-upload .text {
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .custum-file-upload .text span {
                    font-weight: 400;
                    color: #e8e8e8;
                }

            .custum-file-upload input {
                display: none;
            }
    </style>
</head>
<body>
    <div class="big_rectangle">
        <form method="post" enctype="multipart/form-data" asp-controller="Edit" asp-action="Editprofile" class="big-rectangle">
            <p class="new-event-aKh" id="13:528">Edit profile</p>
            <div class="picture-upload">
                <div class="picture-container">
                    <img id="picturePreview" src="#" alt="Preview" style="display: none; max-width: none; max-height: 100%;">
                </div>
                <input type="file" id="picture" name="picture" accept="image/*" style="display: none;">
                <label for="picture" class="custum-file-upload">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        </svg>
                    </div>
                    <div class="text">
                        <span>Upload Picture</span>
                    </div>
                </label>
            </div>
                <div class="auto-group-aaz3-4yV" id="DYG5BQAafP8EMXjpZyaAz3">
                    <div>
                        <label asp-for="Name"></label>
                        <br />
                        <input type="text" asp-for="Name" class="rectangle-input-flex" id="name" placeholder="John Thefarmer" />
                        <span asp-validation-for="Name" style="color: red"></span>
                    </div>

                    <div>
                        <label asp-for="Location"></label>
                        <br />
                        <input type="text" asp-for="Location" class="rectangle-input-flex" id="location" placeholder="123 Place, Bangkok, Thailand" />
                        <span asp-validation-for="Location" style="color: red"></span>
                    </div>
                    <div>
                        <label asp-for="Interest"></label>
                        <br />
                        <input type="text" asp-for="Interest" class="rectangle-input-flex" id="interest" placeholder="Cat meow meow" />
                        <span asp-validation-for="Interest" style="color: red"></span>
                    </div>

                    <div>
                        <label asp-for="AboutMe"></label>
                        <br />
                        <input type="text" asp-for="AboutMe" class="rectangle-input-flex" id="aboutme" placeholder="I love pussy meow meow" />
                        <span asp-validation-for="AboutMe" style="color: red"></span>
                    </div>
                </div>
            
            
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
    <script>
        // Preview the selected image
        document.getElementById("picture").onchange = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('picturePreview');
                output.src = reader.result;
                output.style.display = 'block';
                document.querySelector('.custum-file-upload').style.display = 'none';
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
    <script>
        function prefill() {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var user = JSON.parse(xmlhttp.responseText);
                    document.getElementById("name").value = user.name;
                    document.getElementById("location").value = user.location;
                    document.getElementById("aboutme").value = user.aboutMe;
                    document.getElementById("interest").value = user.interest;
                }
            };
            xmlhttp.open("GET", "/Edit/Getuser");
            xmlhttp.send();
        }
        window.onload = function () {
            prefill();
        }
    </script>
</body>
</html>
